@font-face {
    font-family: 'abaddon';
    src:url('../vendor/Abaddon_Fonts_v1.2/Abaddon\ Bold.ttf') format('truetype');
}

html {
    /*background: url("https://i.postimg.cc/zXMhTY6y/x.jpg");*/
    /*background: url('https://i.postimg.cc/rFDHsS9r/pexels-johannes-plenio-1165982.jpg');*/
    background: url('https://i.postimg.cc/7LyGjjL1/pexels-frank-cone-2961876.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    color:#fff;
    font-family: 'abaddon';
    background-color: #030d19;
}

#mainSection {
    display: none;
    width:1420px;
    height: 760px;
    margin: auto auto;
    border: 3px solid #fff;
    background:url('../images/waitingScreen.gif');
    background-size: cover;
    background-position: center;
    z-index: 0;
    background-repeat: no-repeat;
}

#initialScreen {
   
}

#check{
    position: absolute;
    height: inherit;
    width: inherit;
    left: 45%;
    bottom:25%;
    font-size:196px;
    margin: auto auto;
    color:#6ab04c;
    display: none;
}

#gameCodeInput {
    width:290px;
    height: 45px;
    margin-left: 41%;
    margin-block: 65px;
    border-radius: 10px;
    border: 8px solid #95afc0;
    font-size: 30px;
    font-family: 'abaddon';
    margin-block:45px;
}

.header {
    margin-left: 38.8%;
    font-size: 84px;
    color: linear-gradient(to left, violet, indigo, green, blue, yellow, orange, red);
}

.header2 {
    margin-top: 20px;
    margin-left: 38%;
    width: 540px;
    height:40px;
    padding:auto;
    display: none;
    font-size: 44px;
}

.or{
    text-align: center;
    font-size: 66px;
    margin-top:50px;
    margin-bottom: 0;
}

.m{
    color:#81ecec;
}

.u{
    color:#74b9ff;
}

.l{
    color:#a29bfe;
}

.t{
    color:#fab1a0;
}

.i{
    color:#ffeaa7;
}

.a{
    color:#55efc4;
}

.r{
    color:#fd79a8;
}

.e{
    color:#ff5e57;
}

.n{
    color:#0fbcf9;
}

/* Media for medium-size laptop screens */
@media only screen and (max-width: 1580px) {
    #mainSection {
        display: none;
        width:1220px;
        height: 610px;
        margin: auto auto;
        border: 3px solid #fff;
        background:url('../images/waitingScreen.gif');
        background-size: cover;
        background-position: center;
        z-index: 0;
        background-repeat: no-repeat;
    }

    #instructionsDiv{
        width:1050px;
        height: 610px;
    }

    .exitButton {
        right:10px;
        top:10px;
    }
  }
